header{
    background-color:bisque;
    color: #414141;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
header .image{
    width: 70px;
    height:70px;
    border-radius: 7px;
}   
header .heade{
    font-size: 27px;
    color: #414141;
    padding-left: 80px;
}
h1{
    font-size: 50px;
}
a{
    color: blue;
}
.linke{
    float: right;
    margin-top: -70px;
    padding-right: 30px;
    font-size: 40px;
}
div{
    display: flex;
    justify-content: center;
}
main{
    padding: 3%;
    color: #333333;
}
h2{
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 34px;
}
.tex{
    font-size: 25px;
}
i{
    color: red;
}
footer{
    text-align: center;
}
/*
pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  /
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}
*/